body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background: #75eea5;
}

header .block-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-container {
    padding: 0 20px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#main {
    flex: 1;
}

#top-image {
    height: 130px;
    width: 130px;
    background: #6699ff;
    border-radius: 5px;
}

#user-panel {
    padding: 10px;
    background: #9999ff;
    border-radius: 5px;
}


#main .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main .left-section {
    flex: 1;
}

#main .right-section {
    flex: 0 410px;
}

#main .left-side {
    background: #ccccff;
    border-radius: 5px;
    height: 100%;
    padding: 20px;
}

#main .left-side h3 {
    margin: 0 0 10px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: center;
}


#main .left-side table {
    width: 100%;
    padding: 5px 0px 5px 0px;
    border-radius: 0px 0px 5px 5px;
    background: #76a5fc;
    text-align: center;
    border: 1px solid #333;
}

#main .left-side table tr td {
    text-align: center;
}

img.icon {
    width: 20px;
    height: 20px;
}

thead {
    background-color: #3f87a6;
    color: #fff;
}


#main article {
    margin-bottom: 5px;
    background: #80abdb;
    border: 1px solid #40658d;
    border-radius: 5px;
    padding: 20px;
}

#main article h3 {
    margin: 0 0 5px;
}

#main article .text-article {
    padding: 5px;
    font-size: 15px;
    background: #cce6fc;
}

#main article .text-article label {
    margin-right: 10px;
}

footer {
    height: 80px;
    background: #6184aa;
}

footer .block-container {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
}

footer span {
    margin-right: 15px;
}

.mb-3.row {
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.btn.btn-primary {
    margin-left: 15px;
}